*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-image: url("background.jpg");
  background-size: 91% ;
  background-attachment: fixed ;
  background-position: top ;
  background-repeat: no-repeat;
}

#lavagna{
  width: 57%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: 40px, black;
  border-radius: 40px;
  margin-top: 140px;
  padding-bottom: 200px;
}

.logo{
  padding-left: 39%;
  margin-top: 300px;
}

.titolo{
  color: lime;
  font-size: 90px;
  font-family: sans-serif;
  padding-left: 28%;
}

.scatolascelte{
  padding-left: 30%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: lime;
  margin-left: 200px;
  margin-right: 200px;
  border: 3px, lime;
}

.scelte{
  font-size: 40px;
  margin: 5px;
}

h2{
  color: white;
  font-size: 70px;
  font-family: sans-serif;
  display: inline-block;

}

.Seleziona{
  width: 37px;
  height: 37px;
}

.Nome{
  color: white;
  font-size: 50px;
  font-family: sans-serif;
  margin-left: 200px;
  margin-top: 80px;
}

.info{
  margin-left: 120px;
}

.Barra1{
  height: 80px;
  width: 1000px;
  background-color: orange;
  border: 20px, orange;
  border-radius: 20px;
}

.Barra2{
  height: 80px;
  width: 1650px;
  background-color: green;
  border: 20px, green;
  border-radius: 20px;
}

.Barra3{
  height: 80px;
  width: 400px;
  background-color: red;
  border: 20px, red;
  border-radius: 20px;
}
